body{
    background: #36594E;
    text-align: center;
    padding: 50px;
    font-family: 'Poppins', sans-serif;
    color:white;
    font-size: 17px;
}   

.heading{
    font-weight: 400px;
}

.game-container{
    display: flex;
    justify-content: center;
}

.player-container {
    flex: 1; 
}

.computer-container {
    flex: 1; 
}

.score-container {
    width: 20%;
    flex: 0 0 auto; 
}

.display-score {
    font-size: 30px;
}

.display-result {
    font-size: 20px;
    padding-top: 20px;
}

/* Buttons */

.move-button {
    border: none; 
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    width: 40%; 
}

.move-img {
    width: 80%;
    height: auto; 
    padding: none; 
    margin: none; 
}

.buttons-container {
    display: flex;
    justify-content: center; 
    padding: 30px; 
}

.player-img, 
.computer-img{
    height: 40%;
    width: auto; 
    border-radius: 15px;
    border: 10px solid #65a690;
}

